*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
README.pdf
/app/src/main/assets/yt.json
*/build
.kotlin
app/google-services.json
.idx
.vscode
app/schemas/*.kotlin
.kotlin
